{% extends "layout.html" %}
{% block content %}


<div class="map">
  <div id="map" style="height: 100%"></div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.7128, lng: -74.0059},
        zoom: 16
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc1agSBWitQ7l9xKozxmLijdCg3JiQkmY&callback=initMap"
  async defer></script>
</div>

<div class="container choice">
	<h2>Welcome to Trip Planner!</h2>
	<form method="POST" action="#">

		<div class="form-group">
			<label>Hotels:</label><br>
			<select class="selectpicker" data-width="auto" data-style="btn-primary">
				{%for hotel in hotels%}
				<option value={{hotel.id}}>{{hotel.name}}</option>
				{%endfor%}
			</select>
		</div>

		<div class="form-group">
			<label for="restaurant">Restaurant:</label><br>
			<select class="selectpicker" data-width="auto" data-style="btn-primary">
				{%for restaurant in resturants%}
				<option name="restaurant" value={{restaurant.id}}>{{restaurant.name}}</option>
				{%endfor%}
			</select>
		</div>

		<div class="form-group">
			<label for="activity">Activities</label><br>
			<select class="selectpicker" data-width="auto" data-style="btn-primary">
				{%for activity in activities%}
				<option name="activity" value={{activity.id}}>{{activity.name}}</option>
				{%endfor%}
			</select>
		</div>

	</form>
</div>

<div class="day">

	<div class="nav_title_day">

	</div>
	<div class="nav_day">

	</div>
</div>

{% endblock %}
