{% extends "layout.html" %}
{% block content %}

<!--<div class="nav"></div>-->

<div class="map"></div>

<div class="container choice">
	<h2>Welcome to Trip Planner!</h2>
	<form method="POST" action="#">
		
		<div class="form-group">
			<label>Hotels:</label><br>
			<select class="selectpicker" data-width="auto" data-style="btn-primary">
				{%for hotel in hotels%}
				<option value={{hotel.id}}>{{hotel.name}}</option>
				{%endfor%}
			</select>
		</div>
		
		<div class="form-group">
			<label for="restaurant">Restaurant:</label><br>
			<select class="selectpicker" data-width="auto" data-style="btn-primary">
				{%for restaurant in resturants%}
				<option name="restaurant" value={{restaurant.id}}>{{restaurant.name}}</option>
				{%endfor%}
			</select>
		</div>
		
		<div class="form-group">
			<label for="activity">Activities</label><br>
			<select class="selectpicker" data-width="auto" data-style="btn-primary">
				{%for activity in activities%}
				<option name="activity" value={{activity.id}}>{{activity.name}}</option>
				{%endfor%}
			</select>
		</div>
	
	</form>
</div>

<div class="day">

	<div class="nav_title_day">
	
	</div>
	<div class="nav_day">
	
	</div>
</div>

{% endblock %}
